@{
    ViewBag.Title = "PowerShell Programming Game";
}
<div class="text-center" style="margin-top: 40px;">
    <img src="~/images/poshbots.png" />
    <h1>PowerShell Programming Game</h1>
    <h4>Create Robots Using PowerShell and Battle Others</h4>
</div>